.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 50%;
}

.itemSmall {
    width: 8px;
    height: 8px;
    border: 1px solid black;
    margin: 4px 4px;
}

.itemSpent {
    color: dimgray;
    border-color: gray;
}

.itemActive {
    font-weight: bold;
    outline: 1px solid black;
}

.itemSmall.itemActive {
    outline: 2px solid black;
}